.blog {
    padding: 60px 0 100px;
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__category {
        margin-bottom: 36px;
    }
    &__category-title,
    &__tags-title {
        margin-bottom: 14px;
        color: $title;
        @extend %title-font;
        line-height: 23px;
    }
    &__category-item {
        margin-bottom: 12px;
    }
    &__category-link {
        color: inherit;
    }
    &__tags {
        margin-bottom: 50px;
    }
    &__tags-link {
        color: #8F8D8D;
        font-size: 14px;
        font-weight: 600;
        padding: 0 16px;
        margin-bottom: 10px;
        margin-right: 10px;
        display: inline-block;
        border: 1px solid rgba(#454647, .5);
        border-radius: 14px;
    }
    &__social {
        display: flex;
        align-items: center;
    }
    &__social-item {
        margin-right: 20px;
    }
}